.email-trigger-blk{
    .modal-header{
        padding:32px 29px 4px 29px;
    }
    .modal-content-blk{
        flex-direction: column;
        .headerbar-blk{
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                display: flex;
                align-items: center;
                color: #909EB4;
                margin-bottom:20px;

            }
            .nt-btn-wraper{
                .primary-btn{
                    height:34px;
                    width:153px;
                    justify-content: center;
                    span{
                        font-size:10px;
                        margin-right:8px;
                        position: relative;
                        top:0px;
                    }
                }
            }
        }
    }
    .nt-btn-wraper{
        margin-bottom:24px;
    }

    .table-blk{
        thead{
            border-bottom:1px solid #F2F5F9;
        }
        th{
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 22px;
                color: #909EB4;
        }
        td{
                font-style: normal;
                font-weight: normal;
                font-size: 11px;
                line-height: 16px;
                color: $gray-800;
                padding:10px 0;
                .survey-name{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                }
                .number-tag{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 16px;
                    text-align: center;
                    background: #F2F5F9;
                    padding:2px 6px;
                    margin-left:6px;
                    height:20px;
                }
        }
    }
}

.create-trigger-field{
    width:100%;
    max-width:498px;
    padding-bottom: 25px;
    .form-control{
            height:38px;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
    }
}

.create-trigger-blk{
    .modal-footer{
        padding:20px 0px 15px 65px;
    }
    .modal-header{
        padding: 32px 70px 23px 72px;
        .modal-back-btn{
            width:30px;
            height:30px;
            background:none;
            border:none;
            margin-right:14px;
            display:flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left:32px;
            &:hover{
                background:$blue-100;
            }
        }
    }

    .modal-body{
        padding:0 0px 30px 65px;
    }
    .modal-btn-blk{
        padding: 0 10px 20px;
    }

}