 $primarycolor:#308DFF;

 $blue:#308DFF;
 $blue-100:#ECF4FF;
 $gray-900:#0C1420;
 $gray-800:#222F44;
 $gray-700:#46556D;
 $gray-600:#6E7C92;
 $gray-500:#0C1420;

 $gray-400:#0C1420;
 $gray-300:#0C1420;
 $gray-200:#BCCCDC;
 $gray-100:#ADB8CA;
 $white:#fff;


